# Core ML/AI Libraries
torch
torchvision
paddlepaddle
paddleocr>=2.7
paddlex
sentence-transformers

# Web & App Framework
streamlit
fastapi
uvicorn

# Data & Image Processing
Pillow
ImageHash
plotly

# OpenAI & LLM
openai

# Utility & Database
python-dotenv
streamlit-option-menu
streamlit-lottie
streamlit-elements
chromadb
sqlalchemy
psycopg2-binary
PyJWT

# Testing
pytest
pytest-cov
